@import "tailwindcss";

@theme {
  --font-display: "Be Vietnam Pro", "Noto Sans Thai", sans-serif;
  --color-primary: #006652;
  --color-background-light: #f8f6f6;
  --color-background-dark: #1a1614;
  --color-neutral-surface: #2a221f;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: #0f172a;
  min-height: 100dvh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background-dark);
    color: #f1f5f9;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 1rem);
}
